.student-question {
    display: flex;
    flex-direction: column;
    background-color: #464b5e;
    border: 5px solid #3c4251;
    box-shadow: 0 1px 6px rgb(29, 29, 29);
    flex-grow: 1;
    /* height: 60vh; */
    margin: 0 auto 3.6rem auto;
    max-width: 65%;
}

.student-question__loading {
    width: 100%;
}

.student-question__loading-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46.4rem;
}

.student-question__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 2.5rem;
}

.student-question__content__item {
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.student-question__content__item__no-solution {
    width: 100%;
    height: 18.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a5afd7;
    opacity: 0.8;
    text-align: center;
}

.student-question__content__item__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333745;
    width: 40%;
    height: 18rem;
    border: 1px solid #8357c5;
}

.student-question__content__item__image-container:hover {
    cursor: pointer;
    background-color: #8357c5;
}

.student-question__content__item__image {
    max-width: 100%;
    max-height: 100%;
}

.student-question__content__item__image:hover {
    opacity: 0.7;
}

.student-question__content__item__details-container {
    width: 60%;
    height: 18rem;
}

.student-question__content__item__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2rem;
    height: 100%;
}

.student-question__content__item__details * {
    margin: 0.4rem 0;
}

.student-question__content__item__details__description {
    height: 50%;
    color: #a5afd7;
}

.student-question__content__item__details__time {
    align-self: flex-end;
    font-size: 1.5rem;
    opacity: 0.5;
    color: #a5afd7;
    padding: 1.6rem 2.4rem;
}

.student-question__title {
    align-items: center;
    background-color: #3c4251;
    color: #a5afd7;
    display: flex;
    font-weight: bold;
    font-size: 2rem;
    justify-content: space-between;
    margin: 0;
    padding: 1.6rem 3.2rem;
    text-align: center;
}

.student-question__title p {
    margin: 0;
}

.back-button__container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #a5afd7;
}

.back-button {
    padding: 0;
    border: none;
    background-color: transparent;
    color: #a5afd7;
}

.student-question__container {
    display: flex;
    flex-direction: column;
    color: #a5afd7;
    padding: 0 2.5rem;
    overflow: auto;
    overflow-wrap: break-word;
}

@media (max-width: 1150px) {
    .student-question {
        max-width: 100%;
    }
}

@media (max-width: 738px) {
    .student-question {
        height: auto;
    }
    .student-question__title {
        padding: 1rem;
        font-size: 1.4rem;
    }
    .student-question__loading-content {
        height: 25.2rem;
    }
    .student-question__content {
        height: 100%;
        padding: 1rem;
    }
    .student-question__container {
        padding: 0 1.6rem;
    }
    .student-question__content__item__no-solution {
        height: 9rem;
    }

    .student-question__content__item__image-container {
        width: 40%;
        max-height: 9rem;
    }
    .student-question__content__item__details {
        padding-left: 0.5rem;
    }
    .student-question__content__item__details-container {
        width: 60%;
        max-height: 9rem;
    }
    .student-question__content__item__details__description {
        height: 7rem;
        font-size: 1rem;
    }
    .student-question__content__item__details__time {
        font-size: 0.9rem;
        padding: 0;
        margin: 0;
    }
}
