html {
    font-size: 70%;
    height: 100%;
}

body {
    background: #333745;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    color: white;
    min-height: 100%;
    position: relative;
    padding-bottom: 10rem;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10rem;
    background: #20222b;
    /* box-shadow: 0px 1px 5px black; */
    box-shadow: 0px -2px 5px 0px black;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

.selected {
    color: white !important;
    border-bottom: 3px solid #8357c5;
}

/* ----------------- Header ---------------------- */
.header {
    color: white;
    background: #20222b;
    margin-bottom: 3.6rem;
    padding: 1.6rem 0;
    box-shadow: 0 1px 6px black;
}

.navbar__title {
    margin: 0;
    font-size: 3rem;
}

.header a {
    text-decoration: none;
    color: #a5afd7;
    margin: 0 0.5rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar__links {
    padding: 0.9rem;
}

.navbar__links > button {
    color: #a5afd7;
    background: none;
    border: none;
    margin: 0 0.5rem;
    padding: 0;
}

/* ----------------- End Header ---------------------- */

/* ----------------- Login Page ---------------------- */
.login-component {
    background-color: #464b5e;
    margin: 0 auto;
    max-width: 45rem;
}

.login-component__title {
    background-color: #3c4251;
    margin: 0;
    text-align: center;
    padding: 1.6rem;
    color: #a5afd7;
    font-weight: bold;
    font-size: 2rem;
}

.login-component__container {
    display: flex;
    flex-direction: column;
    color: #a5afd7;
    padding: 3.2rem;
}

.login-error {
    background-color: #333745;
    text-align: center;
    color: #ff8080;
    border: 1px solid #ff8080;
    border-radius: 0.5rem;
    margin-bottom: 1.6rem;
}

.login-error p {
    margin: 0.5rem;
}

.login-component__form__item {
    display: flex;
    flex-direction: column;
    margin: 0 0 1.6rem 0;
}

.login-component__form__item label {
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

.login-component__form__item input,
.login-component__form__item select {
    background: #333745;
    border: none;
    color: #a5afd7;
    border-bottom: 0.3rem solid #272a35;
    flex-grow: 1;
    padding: 1.2rem;
}

.password-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.password-options p,
.password-options label {
    font-size: 1.3rem;
    margin: 0;
}

.password-options p {
    text-decoration: underline;
}

.password-options p > a {
    color: inherit;
    text-decoration: inherit;
}

.password-options input {
    margin-right: 0.5rem;
}

.login-component__container button {
    margin-top: 3.2rem;
    background: #8357c5;
    border: none;
    border-bottom: 0.3rem solid #66439b;
    color: white;
    font-weight: 500;
    padding: 1.6rem;
}

.login-component__container button:hover {
    background: #9160da;
    border-bottom: 0.3rem solid #724bad;
}

.spinner {
    margin: 0 auto;
}

/* ----------------- End Login Page ---------------------- */

/* ----------------- Action Box ---------------------- */
.action-box {
    background-color: #464b5e;
    margin: 0 auto 3.6rem auto;
    max-width: 100%;
    border: 5px solid #3c4251;
    flex-grow: 1;
    max-width: 70rem;
    box-shadow: 0 1px 6px rgb(29, 29, 29);
}

.action-box__title {
    background-color: #3c4251;
    margin: 0;
    text-align: center;
    padding: 1.6rem;
    color: #a5afd7;
    font-weight: bold;
    font-size: 2rem;
}

.action-box__container {
    display: flex;
    flex-direction: column;
    color: #a5afd7;
    padding: 2.5rem;
    overflow: auto;
}

.action-box__container button {
    background: #8357c5;
    border: none;
    border-bottom: 0.3rem solid #66439b;
    color: white;
    font-weight: 500;
    padding: 1.6rem 5rem;
    margin-top: 3.2rem;
}

.action-box__container button:hover {
    background: #9160da;
    border-bottom: 0.3rem solid #724bad;
}
/* ----------------- End Action Box ---------------------- */

/* ----------------- Question Uploader Component ---------------------- */

.box {
    background-color: #464b5e;
    margin: 0 auto 3.6rem auto;
    max-width: 100%;
    border: 5px solid #3c4251;
    flex-grow: 1;
    box-shadow: 0 1px 6px rgb(29, 29, 29);
}

.box__title {
    background-color: #3c4251;
    margin: 0;
    text-align: center;
    padding: 1.6rem;
    color: #a5afd7;
    font-weight: bold;
    font-size: 2rem;
}

.box__container {
    display: flex;
    flex-direction: column;
    color: #a5afd7;
    padding: 2.5rem;
    overflow: auto;
    overflow-wrap: break-word;
    height: 46rem;
}

.box__container button {
    background: #8357c5;
    border: none;
    border-bottom: 0.3rem solid #66439b;
    color: white;
    font-weight: 500;
    padding: 1.6rem 5rem;
    margin-top: 3.2rem;
}

.box__container button:hover {
    background: #9160da;
    border-bottom: 0.3rem solid #724bad;
}

.image-preview {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    background-color: #333745;
    padding: 2.5rem;
    border-bottom: 0.3rem solid #272a35;
}

.image-preview input {
    padding: 5rem;
    border: 2px dashed #8357c5;
}

.image-preview img {
    max-width: 60rem;
    max-height: 30rem;
    margin: 3rem auto 0 auto;
    border: 2px solid #8357c5;
}

/* ----------------- End QUestion Uploader Component ---------------------- */

/* ----------------- Profile Page Box ---------------------- */
.profile-box {
    background-color: #464b5e;
    margin: 0 auto 3.6rem auto;
    max-width: 70rem;
    border: 5px solid #3c4251;
    box-shadow: 0 1px 6px rgb(29, 29, 29);
}

.profile-box__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3c4251;
    margin: 0;
    padding: 1.6rem 2.5rem;
    color: #a5afd7;
    font-weight: bold;
    font-size: 2rem;
}

.profile-box__header__title {
    margin: 0;
}

.profile-box__header button {
    background: none;
    border: none;
    color: #a5afd7;
}

.profile-box__container {
    display: flex;
    flex-direction: column;
    color: #a5afd7;
    padding: 2.5rem;
    overflow: auto;
    overflow-wrap: break-word;
}

.profile-info h4 {
    margin: 1.6rem 0;
}

.profile-info div {
    color: white;
}
/*----------------- Profile Page Box -----------------*/

/* ----------------- Question Tiles Component ---------------------- */

.question-tile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333745;
    padding: 1.2rem;
    margin-bottom: 1.6rem;
    border-bottom: 0.3rem solid #272a35;
}

.question-tile:hover {
    background-color: rgb(131, 87, 197);
    border-bottom: 0.3rem solid #66439b;
    color: white;
    cursor: pointer;
}

.question-image-container {
    height: 10rem;
    width: 20rem;
    background-color: #464b5e;
    margin-right: 2rem;
    text-align: center;
}

.question-image-container img {
    max-height: 100%;
}

.question-details {
    flex-grow: 1;
    min-width: 20rem;
}

.question-details h3 {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.question-bullets {
    display: flex;
    flex-direction: row;
}

.question-bullets ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.3rem;
    margin-right: 1.3rem;
}

/* ----------------- End Question Tiles Component ---------------------- */

/* ----------------- Burger Menu Component ---------------------- */

.burger-menu-button {
    display: none;
}

/* ----------------- End Burger Menu Component ---------------------- */

/* ----------------- Tabular Component  ---------------------- */
.react-tabs__tab {
    color: #a5afd7 !important;
    padding: 1.6rem !important;
}

.react-tabs__tab-list {
    margin: 0 !important;
    border-bottom: 1px solid #8357c5 !important;
}

.react-tabs__tab--selected {
    background: #3c4251 !important;
    color: white !important;
    border-color: #8357c5 !important;
    border-radius: 0 !important;
}
/* ----------------- End Tabular Component ---------------------- */

/* ----------------- Question Details Component ---------------------- */
.details {
    display: flex;
    flex-direction: column;
}

.details-img {
    text-align: center;
    /* margin-bottom: 2rem; */
}
.details-img img {
    width: auto;
    max-width: 100%;
    max-height: 30rem;
}

.details-info {
    color: white;
}
/* ----------------- End Question Details Component ---------------------- */

/* ----------------- Solution Component ---------------------- */
.in-progress {
    margin: 0 auto;
}
/* ----------------- End Solution Component ---------------------- */

@media (min-width: 1185px) {
    /* Dashboard */
    .container {
        max-width: 135rem;
    }
    .dash-container {
        display: flex;
        flex-direction: row;
    }

    .box__customer {
        max-width: 40rem;
        margin-right: 2rem;
    }
    /* End Dashboard */

    /* Customer Question Page */
    .question-page-container {
        display: flex;
        flex-direction: row;
    }
    .mw50 {
        min-width: 50%;
    }
    .instructor-question-page {
        max-width: 70rem;
        margin: 0 auto;
    }
    /* End Customer Question Page */

    /* Question details */
    #student-question-details {
        max-width: 50%;
    }
    /* ENd Question details */
}

@media (max-width: 530px) {
    .burger-menu-button {
        display: inline-block;
    }

    .navbar__links {
        display: none;
    }

    .container {
        padding: 0 1.2rem;
    }

    .login-component__container {
        padding: 1.2rem;
    }

    .login-component__container button {
        margin-top: 1.6rem;
    }

    .box__container {
        padding: 1.6rem;
        height: 60vh;
    }

    .image-preview {
        padding: 1rem;
    }

    .image-preview img {
        margin-top: 1rem;
        max-width: 17.5rem;
    }
}

@media (max-width: 738px) {
    .question-tile {
        flex-direction: column;
    }

    .question-image-container {
        background-color: #3c4251;
        margin-right: 0;
        text-align: center;
        width: 100%;
        height: 15rem;
        margin-bottom: 1.2rem;
    }

    .question-image-container img {
        border: 1px solid #8357c5;
        max-width: 100%;
    }

    .question-details {
        background-color: #464b5e;
        padding: 1rem 2.5rem 1rem 2.5rem;
    }

    .question-details h3 {
        margin: 0 0 1.2rem 0;
    }

    .question-bullets {
        display: flex;
        flex-direction: column;
    }

    .question-bullets ul {
        margin: 0;
    }

    .question-bullets li {
        margin: 0.2rem 0;
    }
}

/* ----------------- Scrollbar ---------------------- */
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #20222b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6c48a1;
    size: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #51367a;
}
