node_modules
package-lock.json
build

# Security
.env

# Local images
/questions/*
/questions/thumbnails/*
/questions/raw/*
/solutions/*
/solutions/thumbnails/*
/solutions/raw/*

# Exceptions
!/questions/thumbnails
!/questions/thumbnails/.gitkeep
!/questions/raw
!/questions/raw/.gitkeep
!/solutions/thumbnails
!/solutions/thumbnails/.gitkeep
!/solutions/raw/
!/solutions/raw/.gitkeep

# Extra
/postman
Technologies used.txt