.chat__container {
    background-color: #333745;
    height: 45rem;
    display: flex;
    padding: 1rem;
}

.chat__details {
    height: 3rem;
    background-color: #333745;
    padding: 1.5rem 3rem;
}

.chat__details__user {
    font-size: 2rem;
    font-weight: 600;
}

.chat__container__messages {
    flex: 3;
    margin-right: 2rem;
    background-color: #464b5e;
    padding: 1rem;
    display: flex;
}

.chat__input {
    display: flex;
    height: 4rem;
    padding: 1rem;
    background-color: #333745;
    border-top: 1px solid #5b6178;
}

.chat__input input {
    flex: 3;
    margin-right: 1rem;
    background-color: #464b5e;
    border: none;
    padding: 0 1rem;
    color: #a5afd7;
}

.chat__input button {
    flex: 1;
    background-color: #8357c5;
    color: white;
    border: none;
}

.chat__input button:hover {
    background-color: #9966e6;
}

.chat__message {
    padding: 1.6rem;
    margin: 0.8rem;
    background-color: #333745;
    display: inline-block;
    align-self: flex-start;
}

.my-message {
    text-align: right;
    background-color: #8357c5;
    align-self: flex-end;
}
