.profile-box {
    background-color: #464b5e;
    margin: 0 auto 3.6rem auto;
    max-width: 70rem;
    border: 5px solid #3c4251;
    box-shadow: 0 1px 6px rgb(29, 29, 29);
}

.profile-box__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3c4251;
    margin: 0;
    padding: 1.6rem 2.5rem;
    color: #a5afd7;
    font-weight: bold;
    font-size: 2rem;
}

.profile-box__header__title {
    margin: 0;
}

.profile-box__header button {
    background: none;
    border: none;
    color: #a5afd7;
}

.profile-box__container {
    display: flex;
    flex-direction: column;
    color: #a5afd7;
    padding: 2.5rem;
    overflow: auto;
    overflow-wrap: break-word;
}

.profile-box__content__field {
    color: #a5afd7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    border-bottom: 1px solid rgba(165, 175, 215, 0.4);
    padding: 0 10px;
}

.profile-box__content__field--notification {
    color: #a5afd7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    border-bottom: 1px solid rgba(165, 175, 215, 0.4);
    padding: 0 10px;
    font-size: 1.6rem;
}

.profile-box__content__field--balance {
    display: flex;
    flex-direction: row;
}
.profile-box__content__field--balance button {
    align-self: center;
    background: #8357c5;
    border: none;
    border-bottom: 0.3rem solid #66439b;
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    margin-right: 1.6rem;
    padding: 0.8rem 1.6rem;
    width: 10rem;
}

.profile-box__content__field input {
    background: #333745;
    border: none;
    color: #a5afd7;
    padding: 1.2rem 1.5rem;
}

.profile-box__content__field span {
    font-weight: 700;
}

.profile-box__content__buttons-container {
    display: flex;
    justify-content: flex-end;
}

.profile-box__content__buttons-container button {
    padding: 0.8rem;
    width: 12rem;
    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 0ex;
}

.button-cancel {
    background-color: #963f3f;
    color: white;
    border: none;
    border-bottom: 0.3rem solid #7e3535;
}

.button-save {
    background-color: #8357c5;
    color: white;
    border: none;
    border-bottom: 0.3rem solid #66439b;
}

@media (max-width: 530px) {
    .profile-box__content__field {
        padding: 0;
    }
    .profile-box__content__field h4 {
        margin: 1rem 0;
        font-size: 1.1rem;
        font-weight: 800;
    }

    .profile-box__content__field span {
        margin: 1rem 0;
        font-size: 1.1rem;
        font-weight: 800;
    }

    .profile-box__content__field p {
        font-size: 1.1rem;
    }

    .profile-box__content__field input {
        padding: 1rem;
        font-size: 1.1rem;
    }

    .profile-box__content__field--notification {
        font-size: 1.1rem;
        padding: 0;
    }

    .verification {
        font-size: 1rem;
    }
    .profile-box__container {
        padding: 1.3rem;
    }
    .profile-box__header {
        padding: 1.3rem;
    }
    .profile-box__header__title {
        font-size: 2rem;
    }
    .profile-box__header button {
        font-size: 1.3rem;
    }
    .profile-box__content__field--balance button {
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
        margin-right: 0.8rem;
        width: 7rem;
    }
}

@media (max-width: 380px) {
    .profile-box__container {
        padding: 0.8rem;
    }
    .profile-box__header {
        padding: 0.8rem;
    }
    .profile-box__content__field input {
        padding: 0.8rem;
    }
}
