.available-questions {
    background-color: #464b5e;
    margin: 0;
    border: 5px solid #3c4251;
    box-shadow: 0 1px 6px rgb(29, 29, 29);
    min-height: 86rem;
    width: 45%;
}

.available-questions__title {
    display: flex;
    margin: 0;
    padding: 1.6rem;
    color: #a5afd7;
    font-weight: bold;
    font-size: 2rem;
    background-color: #3c4251;
}

.available-questions__title__back {
    position: absolute;
}

.available-questions__title__subject {
    width: 100%;
    text-align: center;
}

.available-questions__content {
    display: flex;
    height: 87rem;
    flex-direction: column;
    justify-content: space-between;
}

.available-questions__container {
    display: flex;
    flex-direction: column;
    color: #a5afd7;
    padding: 0 2.5rem;
    overflow: auto;
    overflow-wrap: break-word;
}

@media (max-width: 1150px) {
    .available-questions {
        width: 98%;
        margin: 0;
        margin-bottom: 5rem;
    }
}

@media (max-width: 738px) {
    .available-questions {
        min-height: 100%;
    }
    .available-questions__title {
        padding: 1rem;
        font-size: 1.6rem;
    }
    .available-questions__content {
        height: 100%;
    }
    .available-questions__container {
        padding: 0 1rem;
    }
}
