.question-details {
    background-color: #464b5e;
    max-width: 100%;
    border: 5px solid #3c4251;
    flex-grow: 1;
    box-shadow: 0 1px 6px rgb(29, 29, 29);
}

.question-details__title {
    background-color: #3c4251;
    margin: 0;
    text-align: center;
    padding: 1.6rem;
    color: #a5afd7;
    font-weight: bold;
    font-size: 2rem;
}

.question__container {
    display: flex;
    flex-direction: row;
    color: #a5afd7;

    padding: 1.6rem;
    overflow-wrap: break-word;
}

.question__content {
    min-height: 13rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question__img {
    text-align: center;
    margin-right: 1rem;
}

.question__info {
    color: white;
}
.question__info p {
    margin: 0;
}

@media (min-width: 1150px) {
    .question-details {
        width: 50%;
    }
}
