.chat-button__container {
    width: 30%;
    display: flex;
    justify-content: center;
    height: 4rem;
    padding: 1rem 0;
}

.chat-button {
    align-self: center;
    background-color: transparent;
    color: white;
    padding: 0.5rem 0rem;
    border: none;
    border-bottom: 3px solid #8357c5;
}

.chat-button--selected {
    align-self: center;
}
