.login-component {
    background-color: #464b5e;
    margin: 0 auto;
    max-width: 45rem;
    box-shadow: 0 0 6px rgb(34, 34, 34);
}

.login-component__title {
    background-color: #3c4251;
    margin: 0;
    text-align: center;
    padding: 1.6rem;
    color: #a5afd7;
    font-weight: bold;
    font-size: 2rem;
}

.login-component__container {
    display: flex;
    flex-direction: column;
    color: #a5afd7;
    padding: 3.2rem;
}

.login-error {
    background-color: #333745;
    text-align: center;
    color: #ff8080;
    border: 1px solid #ff8080;
    border-radius: 0.5rem;
    margin-bottom: 1.6rem;
}

.login-error p {
    margin: 0.5rem;
}

.login-component__form__item {
    display: flex;
    flex-direction: column;
    margin: 0 0 1.6rem 0;
}

.login-component__form__item label {
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

.login-component__form__item input,
.login-component__form__item select {
    background-color: #333745;
    border: none;
    color: #a5afd7;
    border-bottom: 0.3rem solid #272a35;
    flex-grow: 1;
    padding: 1.2rem;
}

.password-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.password-options p,
.password-options label {
    font-size: 1.3rem;
    margin: 0;
}

.password-options p {
    text-decoration: underline;
}

.password-options p > a {
    color: inherit;
    text-decoration: inherit;
}

.password-options input {
    margin-right: 0.5rem;
}

.login-component__container button {
    margin-top: 3.2rem;
    background: #8357c5;
    border: none;
    border-bottom: 0.3rem solid #66439b;
    color: white;
    font-weight: 500;
    padding: 1.6rem;
}

.login-component__container button:hover {
    background: #9160da;
    border-bottom: 0.3rem solid #724bad;
}
